/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: 'Poppins', sans-serif;
  background: #F5F9FC;
  color: #333;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;

}

/* Header */
header {
  background: #0A6EBD;
  padding: 18px 0;
  color: white;
}

.logo {
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 25px;
}

nav ul li a {
  color: white;
  font-weight: 500;
}

.active { text-decoration: underline; }

/* Sections */
section {
  padding: 60px 0;
  text-align: center;
}

h2 {
  color: #0A6EBD;
  margin-bottom: 15px;
  font-size: 2rem;
}

p {
  line-height: 1.6;
  margin-bottom: 15px;
  font-size: 1rem;
}

/* Platform Image Row */
.platform-images {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.platform-images img {
  width: 30%;
  border-radius: 12px;
}

/* Leadership Team Cards */
.team-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  
  margin-top: 30px;
}

.team-card {
  background: #fff;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  
}

.team-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

footer {
  background: #0A6EBD;
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: 40px;
}
* {
    
    font-size: large;
    
}
nav ul li a {
    text-decoration: none;
}
.active{
    text-decoration: none;
}
* {
  
  font-family: 'Poppins', sans-serif;
}