/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

/* Header */
header {
  background-color: #0A6EBD;
  color: white;
  padding: 20px 0px;
}

.logo {
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav a {
  color: white;
  font-weight: 500;
}

nav a.active {
  border-bottom: 2px solid white;
}

/* Contact Section */
.contact {
  padding: 60px 0;
  text-align: center;
}

.contact h2 {
  color: #0A6EBD;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.contact p {
  color: #555;
  margin-bottom: 35px;
}

/* Contact Layout */
.contact-box {
  background: white;
  padding: 35px;
  display: flex;
  gap: 40px;
  justify-content: center;
  border-radius: 12px;
}

/* Left Info */
.contact-info {
  width: 40%;
  text-align: left;
}

.contact-info h3 {
  color: #0A6EBD;
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 12px;
  color: #444;
}

/* Social Icons */
.social-icons span {
  font-size: 28px;
  margin-right: 12px;
  cursor: pointer;
}

/* Form */
.contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  font-size: 1rem;
}

.contact-form button {
  background: #0A6EBD;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background: #084E8A;
}

/* Footer */
footer {
  background-color: #0A6EBD;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}

nav ul li a {
    text-decoration: none;
}
#active{
    text-decoration: none;
}
* {
  
  font-family: 'Poppins', sans-serif;
}
.social-media {
  text-align: center;
  margin: 30px 0;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.social-media img {
  width: 40px;
  height: 40px;
  
  border-radius: 50%;
}

.social-media img:hover {
  
  opacity: 0.8;
}
