/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #F5F9FC;
  color: #333;
}

/* Header */
header {
  background-color: #0A6EBD;
  color: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.logo {
  float: left;
  font-size: 1.8rem;
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

nav ul li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}


/* Doctors Section */
.doctors {
  padding: 60px 0;
  text-align: center;
}

.doctors h2 {
  color: #0A6EBD;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.doctors p {
  margin-bottom: 40px;
  font-size: 1.1rem;
}

/* Doctor Cards */
.doctor-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  background: white;
  border-radius: 12px;
  
  width: 260px;
  padding: 20px;
  
}

.card img {
  width: 100%;
  border-radius: 50%;
  
}

.card h3 {
  color: #0A6EBD;
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.card p {
  color: #555;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

.card:hover {
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #0A6EBD;
  color: white;
  text-align: center;
  padding: 30px 0;
  margin-top: 40px;
}
/* Smooth scale animation */
.scale-item {
  transition: transform 0.3s ease;
}


